.container {
  max-width: 1400px;
  margin: 0px auto;
}

.users {
  padding: 2rem;
}

.user-profile{
  padding: 6rem;
}

.users .users-header {
}
.users .users-header h1 {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.users .user-group  {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1020px) {
  .users .user-group  {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .users{
    padding: 1rem;
  }
  .users .user-group {
    grid-template-columns: 1fr;
  }
  .user-profile{
    padding: 2rem;
  }
  
}
